#slideshow { 
   margin: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    top:0px;  
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    background-repeat: no-repeat;
}


.img0{
   background-image: url("../images/slides/bs.jpg");
   background-size:cover;
}

.img1{
   background-image: url("../images/slides/elecschema.png");
   background-size:contain;
}

.img2{
   background-image: url("../images/slides/leds.jpg");
   background-size: cover;
}


.img3{
   background-image: url("../images/slides/code.png");
   background-size: cover;
}

#textbox {
	position: absolute;
	top: 30%;
	width: 30%;
	right: 10%; 
   border: 1px solid black;
   opacity: 0.6;
	padding: 5px;
 font-size: 15px;
}

nav {
	height: 80px;
	position: absolute;
	right: 10px;	
	height: auto;
	bottom: 0px;
	font-size: 80%;
	padding-top: 10px;
}
nav a{
	font-size: 50px;
	text-decoration: none;
	color: #000;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 10px;
	color: #999;
	text-align: center;
}