body {
	
}
header{
	border-bottom: 2px solid #FFF;
	width: 100%;
	height: 60px;
}
.header_title {
	font-size: 20px;
	margin: 0 0 0 15px;
    padding: 10px 0 0 0;
}
.header_sub_mobile {
	font-size: 10px;
	text-align: center;
	margin: 0;
	color: #000;
}
.header_sub_desktop, .shipicon {
	display: none;
}
nav {
	font-size: 10px;
	position: fixed;
	top: 5px;
	right: 5px;
}
h1{
	text-align: center;
}
.content {
	width: 100%;
	text-align: justify;
}
nav img{
		width: 40px;
		height: 45px;
		
}
nav > a
{
}
nav:not( :target ) > a:first-of-type,
nav:target > a:last-of-type
{
	display: block;
}
nav > ul {
	background: #f2f2e8;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	border: 1px solid #000;
	margin: 55px 7px 5px 1px;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}
nav:target > ul {
	display: block;
}
nav > ul > li {
	width: 100%;
	height: 40px;
	float: none;
	display: block;
	font-size: 20px;
	border-top: 1px solid #999;
}
nav > ul > li:first-child {
	border-top: 0px;
}
nav > ul > li > a {
	width: 100%;
	height: 40px;
	display: block;
	padding: 10px 0px 0 8px; 
}
.content {
    padding: 0 3px;   
}
.tumb {
    width: 100%;
}
textarea{
    resize: vertical;
}
#socialmedia {
	margin:  20px auto;
	display: inline-block;
	
	
}
#socialmedia img{
	padding: 3px 6px 3px 6px ;
}